.banks-container {
  display: flex;
  justify-content: space-around;
}

.banks {
  height: 85px;
  min-width: 60px;
  width: 25%;
  background-color: #dad6d6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.25s ease-in-out;
}

.banks img {
  width: 80%;
  height: 40%;
}

.banks:hover {
  opacity: 0.7;
}

.loader-cont {
  width: 100%;
  display: flex;
  justify-content: center;
}
