/* Animation */

.chart rect {
  fill: #698eab;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.main-settings {
  background-color: #FFFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.margin-top {
  margin-top: 70px !important;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-settings:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@keyframes mymove {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Login container */
.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
/* Login container ends */

.banks-container {
  display: flex;
  justify-content: space-around;
}

.banks {
  height: 85px;
  min-width: 60px;
  width: 25%;
  background-color: #eae3e3;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.25s ease-in-out;
}

.banks img {
  width: 80%;
  height: 40%;
}

.banks:hover {
  opacity: 0.7;
}

.progress {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#grudai-logo {
  width: 400px;
}

.app-bar {
  -moz-transition: left 218ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: left 218ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: left 218ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: left 218ms cubic-bezier(0.4, 0, 0.2, 1);
  left: 0;
  width: auto !important;
  right: 0 !important;
  position: fixed !important;
  background-color: #223843;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Roboto", sans-serif;
}

.app-content {
  -moz-transition: padding-left 218ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: padding-left 218ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: padding-left 218ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: padding-left 218ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-right: 20px !important;
  padding-top: 64px !important;
}

.app-bar.expanded {
  left: 255px;
}

.app-content.expanded {
  padding-left: 255px;
}

.app-container {
  -moz-transition: left 218ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: left 218ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: left 218ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: left 218ms cubic-bezier(0.4, 0, 0.2, 1);
  left: 0;
  width: auto !important;
  right: 0 !important;
  position: fixed !important;
  display: flex;
  justify-content: center;
  background-color: #f6f8fb;
  overflow: auto;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.app-container.expanded {
  left: 255px;
}

/* user-panel-stats */

.static-cont {
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
}

.container-margin {
  margin-top: 30px;
}

.agenda-box {
  margin: 0;
}

.agenda-cont {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 99px;
  height: 99px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f8fb;
}

.boxes-display {
  display: flex;
  justify-content: space-around;
}

.statistic-img-cont {
  width: 100%;
  display: flex;
  justify-content: center;
}

.static-bar {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-big-box {
  width: 65%;
}

.container-small-box {
  width: 32%;
}

.box-header {
  height: 55px;
  display: flex;
  align-items: center;
}

.box-content-big {
  height: 300px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.documents-content-box {
  height: 300px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.documents-img-container {
  display: flex;
  align-items: center;
  height: 70%;
}

.alert-document-box {
  display: flex;
  height: 30%;
  align-items: center;
}

.box-content-middle {
  height: 225px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-header-icon {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.diagram-bar {
  width: 32%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
}

.diagram-container {
  width: 32%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 225px;
}

.diagram-container img {
  height: 180px;
}

.static-bar-header {
  height: 55px;
}

.schedule-bar {
  width: 32%;
}

.statistic-icon {
  margin-left: 10px;
  width: 60px;
}

.statistic-label {
  width: 100%;
}

.statistic-icon-round {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #5dc089;
}

.schedule-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.statistic-main-icon {
  height: 300px;
}

.main-statistic-img {
  height: 200px;
  width: 320px;
}

.document-img {
  height: 100px;
}

@media only screen and (max-width: 1000px) {
  .static-cont {
    flex-wrap: wrap;
  }
  .static-bar {
    margin: 5px;
    width: 100%;
  }

  .main-statistic-img {
    width: 80%;
  }
}

/* user-panel-ends */

/*header section*/

.top-header {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.header-content {
  height: 70px;
  width: 32%;
  display: flex;
}

.header-icon {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-credit {
  width: 75%;
}

.header-credit {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header-icon-round {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-name {
  font-size: 0.7rem;
}

/*header section ends */

@media only screen and (max-width: 1000px) {
  .top-header {
    display: flex;
    flex-wrap: wrap;
  }
  .header-content {
    margin: 5px;
    width: 100%;
  }
  .boxes-display {
    flex-wrap: wrap;
  }
  .container-big-box {
    width: 100%;
  }
  .container-small-box {
    margin-top: 20px;
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
}

.loader-cont {
  display: none;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-bar-label {
  animation: mymove 1.5s infinite;
  margin: 0;
  margin-top: 2px;
  color: #dc5f4b;
  display: flex;
  font-size: 9px;
  justify-content: center;
}

.status-table-label {
  animation: mymove 1.5s infinite;
  color: #dc5f4b;
}

.status-bar-finished {
  margin: 0;
  margin-top: 2px;
  color: #66c188;
  display: flex;
  font-size: 9px;
  justify-content: center;
}

/* Payments history */
.payments-cont {
  background-color: white;
  color: black;
  height: 240px;
  font-size: 0.9rem;
  width: 100%;
}

.payments-cont ul {
  list-style: none;
}

.payments-cont ul li {
  list-style: none;
  margin: 20px;
}

.diagram-cont-payment {
  background-color: white;
  height: 240px;
}

.diagram-cont-payment img {
  background-color: white;
  height: 20%;
}

/* Payments history ends */

/* Content box */

.content-box {
  width: 90%;
  height: 100%;
}

/* Content box ends */

/*Logo container*/

.logo-container {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container img {
  height: 50px;
}

.logo-container span {
  width: 60%;
  display: flex;
  justify-content: center;
}

/* Logo container ends */

/* New Status bar stats */

.last-operations {
  height: 300px;
  margin-top: 5px;
}

.last-operations-content {
  height: 60px;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  display: flex;
}

.status-date {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-type {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.darker {
  background-color: #f6f8fb;
}

/* New Status bar ends */

.page-title-cont {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-title {
  font-size: 20px;
}

.profile-cont {
  top: 0px;
  height: 100%;
  display: flex;
  align-items: center;
}

.profile-name {
  font-size: 0.9rem;
  margin-right: 6px;
}

.comment {
  position: fixed;
  bottom: 3%;
  right: 3%;
  opacity: 0.65;
  cursor: pointer;
}

.comment:hover {
  opacity: 1;
}

.green-message {
  background-color: #57b7ae;
  padding: 24px;
  border-radius: 2px;
  font-size: 0.9rem;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
